.logo {
  float: left;
  Width: auto;
  padding: 40px 0px 0px 0px;
}
.banner {
  object-fit: right top;
  Width: auto;
}
.header {
  content: " ";
  clear: both;
  display: flex;
}

.myNav {
    font-family: Verdana, Helvetica, sans-serif;  
    display: block;
    height: 50px;
    line-height: 50px;
    background-color: #ffffff;
  }
  .myNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .myNav li {
    display: inline; 
  }
  .myNav li a {
    display: inline-block;
    text-align: center;
    padding: 0% 15%;
  }
  .myNav li a.active {
    background-color: #3786e1;
  }

.businfo {
  font-family: Verdana, Helvetica, sans-serif;
  padding:10% 40%;
  width: max-content;
}
.form {
  font-family: Verdana, Helvetica, sans-serif;
  padding: 0% 40% 10%;
  width:max-content
}

.instagram {
  float: left;
  padding: 0% 15%;
}
.twitter {
  float: left;
  padding: 0% 15%;
}
.youtube {
  float: left;
  padding: 0% 15%;
}
  .footer {
  content: " ";
  clear: both;
  display: flex;
}
.copyright {
  font-family: Verdana, Helvetica, sans-serif;
  padding: 0% 41%;
}