
body {
  background: #FFFFFF;
  color: #000000;
}

.logo {
  float: left;
  Width: auto;
}
.banner {
  object-fit: contain;
  Width: auto;
}
.header {
  content: " ";
  clear: both;
  display: flex;
}

.myNav {
    font-family: Verdana, Helvetica, sans-serif;
    display: block;
    height: 100px;
    line-height: 100px;
    background-color: #ffffff;
  }
  .myNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .myNav li {
    display: inline;
  }
  .myNav li a {
    display: inline-block;
    text-align: center;
    padding: 0% 15%;
  }
  .myNav li a.active {
    background-color: #3786e1;
  }

.text {
  float: left;
  font-family: Verdana, Helvetica, sans-serif;
  line-height: 2.2;
  width: 50%;
  padding: 10%;
}
.image{
  float:left;
}
.content {
  content: " ";
  clear: both;
  display: flex;
}

.businfo {
  font-family: Verdana, Helvetica, sans-serif;
  padding:10% 40%;
  width: max-content;
}
.form {
  font-family: Verdana, Helvetica, sans-serif;
  padding: 0% 40% 10%;
  width:max-content
}

.galltitle {
  font-family: Verdana, Helvetica, sans-serif;
  text-align: center;
}
.horse {
  padding: 3%;
}
.edge {
  padding: 3%;
}
.boat {
  padding: 3%;
}
.lady {
  padding: 3%;
}
.joseph {
  padding: 3%;
}
.peacock {
  padding: 3%;
}
.row1 {
  display:flex;
  width:fit-content;
  content: " ";
  font-family: Verdana, Helvetica, sans-serif;
}
.row2 {
  display:flex;
  height:min-content;
  content: " ";
  font-family: Verdana, Helvetica, sans-serif;
}

.instagram {
  float: left;
   padding: 0% 15%;
}
.twitter {
  float: left;
  padding: 0% 15%;
}
.youtube {
  float: left;
  padding: 0% 15%;
}
.footer {
  content: " ";
  clear: both;
  display: flex;
}
.copyright {
  font-family: Verdana, Helvetica, sans-serif;
  padding: 0% 41%;
}